*,*:after,*:before {
    box-sizing: border-box;
    }
    
body {
    margin: 0;
    font-family: "Sen", sans-serif;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 10px;
  }

.visually__hidden {
    display: none;
}

.list-style-none {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.header, .section, .footer {
    background-color: black;
    color: white;
}

.grid {
    display: grid;
}

.flex {
    display: flex;
}

.relative {
    position: relative;
}



/* header */



.header {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 40%, rgba(24,24,35,1) 40%);
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 72px;
    padding-right: 72px;
    min-height: 88px;
}

.header__image {
    display: block;
}

.header__nav {
    min-height: 88px;
}

.header__nav-list {
    display: flex;
    padding: 0;
    margin: 0;
}

.header__item-link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    min-height: 88px;
    padding: 24px 32px;

}

.header__item-link.active-tab {
    background-color:#5221E6;
}



/* intro  */



.intro {
    min-height: 814px;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 40%, rgba(24,24,35,1) 40%);  
    border-bottom: 1px dashed white;  
}



.intro__image {
    display: block;
    position: absolute;
    max-width: 750px;
    min-height: 650px;
    top: 80px;
    left: 0;
    z-index: 1;
}

.intro__description {
    position: absolute;
    max-width: 738px;
    top: 221px;
    right: 48px;
    padding: 0;
    margin: 0;
    z-index: 2;
}

.intro__title {
    font-size: 78px;
    font-weight: 700;
    min-height: 282px;
    margin: 0;
    margin-bottom: 32px;
}

.intro__title span {
    opacity: 50%;;
}

.intro__post {
    font-size: 18px;
    margin: 0;
    padding: 0;
    font-weight: 300;
}



/* experience  */



.experience>.container.grid {
    padding-top: 120px;
    padding-left: 72px;
}


.experience__title {
    max-width: 690px;
}

.experience__title-samll {
    color: #8491A0;
    text-transform: uppercase;
    line-height: 24px;
    margin: 0;
    margin-bottom: 8px;
}

.experience__title-big {
    font-size: 55px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 40px;
}

.experience__list {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    margin-bottom: 120px;
}

.experience__number {
    color: #8491A0;
    font-size: 117px;
    max-width: 126px;
    min-height: 141px;
}

.experience__place {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    line-height: 150%;
    margin-bottom: 22px;
}

.experience__item-link {
    text-decoration: none;
}

.Google-link {
    color: #3CC74E;
}

.Facebook-link {
    color: #609BFF;
}

.Dribbble-link {
    color: #E95D90;
}

.experience__description {
    max-width: 368px;
    margin: 0;
    padding: 0;
    color: #8491A0;
    font-size: 16px;
    line-height: 150%;
}



/* philosophy */



.philosophy {
    margin: 0;
    padding: 0;
    background-color: #FFF3E4;
}

.philosophy>.container.flex {
    color: black;
    margin: 0 auto;
}

.philosophy__description {
    max-width: 720px;
    min-height: 600px;
    padding: 0;
    margin: 0;
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 72px;
    padding-right: 72px;
}

.philosophy__title {
    font-size: 55px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 24px;
}

.philosophy__text {
    color: #5B6876;
    font-size: 18px;
    width: 576px;
    min-height: 108px;
    margin: 0;
    margin-bottom: 124px;
}

.philosophy__more {
    color: black;
    display: block;
    font-size: 16px;
    line-height: 150%;
    min-height: 24px;
    text-underline-offset: 10px;
    text-decoration-color: #8491A0;
}

.philosophy__image {
    display: block;
}



/* skillset */



.skillset {
    margin: 0;
    padding: 0;
}

.skillset__block {
    display: flex;
    justify-content: space-between;
    min-height: 664px;
    row-gap: 24px;
    margin: 0;
    padding: 0;
    padding-top: 120px;
    padding-bottom:120px ;
    padding-left: 72px;
    padding-right: 72px;
}

.skillset__presentation {
    max-width: 416px;
    min-height: 225px;
    margin: 0;
    padding: 0;
    padding-right: 45px;
}

.skillset__title {
    font-size: 55px;
    font-weight: 700;
    max-width: 189px;
    margin: 0;
    margin-bottom: 24px;
}

.skillset__explanation {
    color: #8491A0;
    font-size: 18px;
    line-height: 150%;
    width: 368px;
    min-height: 135px;
    margin: 0;
}

.skillset__list {
    display: grid;
    grid-template-columns: 416px 416px;
    grid-template-rows: 176px 176px;
    margin: 0;
    padding: 0;
    column-gap: 24px;
    row-gap: 48px;
}

.skillset__list-item {
    margin: 0;
    padding: 0;
}

.skillset__item-icon {
    display: block;
    margin: 0;
    padding: 0;
    margin-bottom: 24px;
}

.skillset__item-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 150%;
    margin: 0;
    padding: 0;
    margin-bottom: 12px;
}

.skillset__item-description {
    color: #8491A0;
    font-size: 16px;
    line-height: 150%;
    margin: 0;
    padding: 0;
}

.skillset__work-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0;
    padding: 0;
    padding-right: 51px;
    padding-left: 51px;
    padding-bottom: 2px;
}

.skillset__work-list-item {
    margin: 0;
    padding: 0;
    max-width: 340px;
    min-height: 140px;
    border: 1px solid #8491A0;
}

.skillset__work-item-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.skillset__work-link-image {
    display: block;
    margin: 0;
    padding: 0;
}



/* projects */



.projects {
    position: relative;
    padding: 0;
    margin: 0;
}

.projects__block {
    position: relative;
    padding: 0;
    margin: 0;
    padding-top: 120px;
    padding-left: 72px;
    padding-bottom: 153px;
}

.projects__list-title {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 24px 132px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0;
    padding: 0;
    min-height: 244px;
    width: 636px;
    left: 72px;
    top: 120px;
}

.projects__title-span {
    display: block;
    color: #8491A0;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
}

.projects__title-text {
    display: block;
    font-size: 55px;
    font-weight: 700;
    max-width: 572px;
}

.projects__viev-block {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 636px;
    min-height: 244px;
    right: 95px;
    bottom: 155px;
}

.projects__viev-button {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    border: 1px solid #5221E6;
    padding: 24px 32px;
}

.projects__list {
    display: grid;
    max-width: 1296px;
    padding: 0;
    margin: 0;
    grid-template-columns: 636px 636px;
    grid-template-rows: repeat(7, 244px);
    grid-column-start: 2;
    gap: 24px;
    row-gap: 34px;
}

.projects__list-item {
    margin: 0;
    padding: 0;
    background-color: rgba(24,24,35,1);
}

.projects__list-item:nth-child(1) {
    grid-column-start: 1;
    grid-row-start: 2;

}

.projects__list-item:nth-child(2) {
    grid-column-start: 2;
    grid-row-start: 1;

}

.projects__list-item:nth-child(3) {
    grid-column-start: 1;
    grid-row-start: 5;
}

.projects__list-item:nth-child(4) {
    grid-column-start: 2;
    grid-row-start: 4;
}

.projects__item-image {
    display: block;
}

.projects__item-block {
    max-width: 636px;
    background-color: rgba(24,24,35,1);
    margin: 0;
    padding: 0;
    padding-top: 40px;
    padding-left: 32px;
    padding-bottom: 24px;
    padding-right: 32px;
}

.projects__item-title {
    margin: 0;
    padding: 0;
    line-height: 150%;
    font-size: 24px;
    font-weight: 700;
    max-width: 636px;
    margin-bottom: 13px;
}

.projects__item-text {
    max-width: 572px;
    color: #8491A0;
    line-height: 150%;
    margin: 0;
    padding: 0;
}



/* follow */



.follow__intagram-container {
    background-color: rgba(251, 228, 255, 1);
}

.follow {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 600px 1248px;
}

.follow__intagram {
    display: grid;
    grid-template-columns: 700px 720px;
    color: black;
}

.follow__intagram-block {
    padding: 120px 72px;
}

.follow__intagram-title {
    color: #181823;
    font-size: 55px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 24px;
}

.follow__intagram-text {
    color: #5B6876;
    font-size: 18px;
    line-height: 150%;
    margin: 0;
    margin-bottom: 134px;
}

.follow__intagram-button {
    color: #181823;
    line-height: 150%;
    text-underline-offset: 10px;
    text-decoration-color: #8491A0;
}

.follow__dribbble-container>.container {
    padding: 120px 182px;
    padding-bottom: 0;
}

.follow__dribbble-block {
    margin: 0;
    margin-right: 622px;
    margin-bottom: 120px;
}

.follow__dribbble-title {
    margin: 0;
    margin-bottom: 24px;
    font-size: 55px;
    font-weight: 700;
}

.follow__dribbble-text {
    margin: 0;
    margin-bottom: 40px;
    color: #8491A0;
    font-size: 18px;
    line-height: 150%;
}

.follow__dribbble-button {
    margin: 0;
    color: white;
    line-height: 150%;
    text-underline-offset: 10px;
    text-decoration-color: #8491A0;
}

.follow__dribbble-image {
    display: block;
}



/* employer */



.employer>.container {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    padding: 120px 72px;
}

.employer__block {
    flex-basis: 636px;
    height: 278px;
}

.employer__title {
    margin: 0;
    margin-bottom: 24px;
    max-width: 558px;
    font-size: 55px;
    font-weight: 700;
}

.employer__text {
    margin: 0;
    margin-bottom: 40px;
    max-width: 558px;
    color: #8491A0;
    font-size: 18px;
    line-height: 150%;
}

.employer__button {
    margin: 0;
    color: white;
    line-height: 150%;
    text-underline-offset: 10px;
    text-decoration-color: #8491A0;
}

.employer__list {
    flex-basis: 636px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 790px);
    row-gap: 56px;
}

.employer__item-figure {
    margin: 0;
}

.employer__item-image {
    display: block;
    margin-bottom: 64px;
}

.employer__item-text {
    margin: 0 auto;
    margin-bottom: 64px;
    max-width: 508px;
    font-size: 24px;
    line-height: 150%;
    font-weight: 700;
}

.employer__item-figcaption {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 27px 27px;
    margin-left:64px;
}

.employer__item-figcaption>span {
    font-size: 18px;
    line-height: 150%;
    color: #5B6876;
}

.employer__CEO {
    font-weight: 700;
}



/* travel*/



.travel>.container {
    padding: 120px 72px;
}

.travel__block-hero {
    margin-bottom: 64px;
}

.travel__titel {
    margin: 0;
    margin-bottom: 24px;
    font-size: 55px;
    font-weight: 700;
    line-height: 150%;
}

.travel__text {    
    margin: 0;
    max-width: 588px;
    color: #8491A0;
    font-size: 18px;
    line-height: 150%;
}

.travel__country-list {
    display: flex;
    gap: 24px;
    margin-bottom: 40px;
}

.travel__country-item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    line-height: 150%;
    font-size: 18px;
    color: white;
    text-decoration: none;
    min-height: 51px;
    padding: 12px 16px;
    border: 1px solid #5221E6;
}

.travel__country-item.active-tab {
    background-color:#5221E6;
}

.travel__pictures-item {
    display: none;
}

.travel__pictures-item.active-tab {
    display: flex;
    gap: 24px;
}



/* message */



.message>.container {
    padding: 120px 184px;
    display: grid;
    grid-template-columns: 526px 526px;
    column-gap: 24px;
}

.message__block-title {
    margin: 0;
    margin-bottom: 24px;
    font-size: 55px;
    font-weight: 700px;
}

.message__block-text {
    margin: 0;
    color: #8491A0;
    font-size: 18px;
    line-height: 150%;
}

.message__form {
    display: grid;
    row-gap: 40px;
}

.message__form-area {
    margin: 0;
    display: grid;
    row-gap: 8px;
}

.message__area-name {
    line-height: 150%;
}

.message__area-input {
    min-height: 50px;
    background-color: rgba(24,24,35,1);
    border: none;
    color: white;
    padding-left: 4px;
    font-size: 20px;
    font-weight: 500;
}

.message__area-textarea {
    min-height: 100px;
    background-color: rgba(24,24,35,1);
    border: none;
    color: white;
    padding-top: 10px;
    padding-left: 4px;
    font-size: 20px;
    font-weight: 500;
}

.message__area-button {
    min-height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #5221E6;
    font-size: 18px;
    line-height: 150%;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
}



/* footer */



.footer {
    position: fixed;
    width: 100%;
    background-color: rgba(24,24,35,1);
    bottom: 0;
    right: 50%;
    transform: translate(50%, 18%);
}

.footer>.container {
    display: grid;
    padding-bottom: 80px;
    padding-top: 80px;
    padding-left: 72px;
    padding-right: 182px;
}

.footer__nav {
    display: flex;
    justify-content: space-between;
}

.footer__link-image {
    margin-bottom: 32px;
    display: block;
}

.footer__image {
    display: block;
}

.footer__social-list {
    display: flex;
    max-width: 104px;
    gap: 16px;
}

.footer__social-link {
    display: block;
}

.footer__social-image {
    display: block;
}

.footer__navigation-list {
    margin-bottom: 46px;
}

.footer__navigation-list {
    display: grid;
    grid-template-columns: 196px 196px;
    column-gap: 24px;
    grid-template-rows: repeat(4, 48px);
}

.footer__navigation-item:nth-child(1) {
    grid-column-start: 1;
    grid-row-start: 1;
}

.footer__navigation-item:nth-child(2) {
    grid-column-start: 1;
    grid-row-start: 2;
}

.footer__navigation-item:nth-child(3) {
    grid-column-start: 1;
    grid-row-start: 3;
}

.footer__navigation-item:nth-child(4) {
    grid-column-start: 1;
    grid-row-start: 4;
}

.footer__navigation-link {
    display: flex;
    min-height: 48px;
    line-height: 150%;
    justify-content: start;
    align-items: center;
    color: white;
    text-decoration: none;
}

.footer__copyright {
    line-height: 150%;
    color: #8491A0;
    margin: 0;
}